* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1 {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background: black ;
}

.click {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
    color: sandybrown;
    background-color: red;
    cursor: pointer;
    padding:10px;
    border-radius: 20px;
    box-shadow: 1px 1px 60px red;

}